@import 'src/variables';

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .infoBlock {
    padding: 5px;
    text-align: center;

    h3 {
      font-size: 20px;
      font-weight: bold;
      color: $green;
      margin-bottom: 12px;
    }

    span {
      color: $yellow;
      font-weight: bold;
    }
  }
}
